.left{
    flex: 2;
}
.right {
    flex: 2;
    margin-top: 100px;
}
.contPass {
    display: flex;
}
.changePassItem{
    width: 350px;
    margin-left: 25px;
   
}
.btnSavePass{
    border-radius: 5px;
    border: none;
    width: 250px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #1e9df1;
    margin-left: 70px;
    color: white;
    font-weight: 400;
   
}