.patientsList{
    flex: 4;
}
.patientsEdit{
    cursor: pointer;
    margin-right: 20px;
    color: rgb(42, 124, 218);
}
.patientsDelete{
    cursor: pointer;
    color: crimson;
}
.patientListTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newPatientButton{
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    width: 100px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #8282F3;
    color: white;
    font-weight: 400;
    
}
.patientAdd{
    display: flex;
    padding: 20px 5px;
    right: 0;
    margin-left: 62em;
}
